*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


ul li:hover .material-symbols-outlined{
	opacity: 0;
}


ul {
	position: relative;
	display: flex;
	gap: 30px;
}

ul li {
	position: relative;
	list-style: none;
	width: 50px;
	height: 50px;
	border-radius: 72px;
	background: #bebebe;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 0 2px #fff;
	transition: 300ms;
}

.none{
	text-decoration: none;
	color: inherit;
}

ul li:hover {
	width: 160px;
	box-shadow: 0 0 0 2px var(--bg-color);
}

ul li::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 32px;
	background: var(--bg-color);
	opacity: 0;
	transition: 300ms;
}

ul li:hover::before {
	opacity: 1;
}

ul li span {
	position: absolute;
}

ul li i {
	color: #fff;
	font-size: 2em;
	transition: 300ms;
	transition-delay: 150ms;
}

ul li .text {
	color: #1e1e1e;
	font-size: 1.5em;
	z-index: 1;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.024em;
	opacity: 0;
	transition: 300ms;
	letter-spacing: -0.125px;
}

ul li:hover .text {
	opacity: 1;
	
}
h1{
    font-size: 50px;
    line-height: 64px;
}

h2{
    font-size: 46px;
    line-height: 54px;
}

h4{
    font-size: 20px;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}
.section-ml{
    margin: 40px 0;
}

body{
    width: 100%;

}

#header{
	display: flex;
	background-color: rgb(24, 26, 25);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
}
.nav{
	padding: 22px 0px;
	position: absolute;
	left: 68%;
}


/* search bar */


.search-container {
	display: flex;
	justify-content: center;
	justify-items: center;
	margin-top: 30px;
	margin-bottom: 30px;
	position: absolute;
	left: 25%;
}

.search-input {
	padding: 15px;
	width: 420px;
	border: 1px solid #ccc;
	border-radius: 30px;
	outline: none;
}

.search-button {
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	margin-left: 10px;
}

/*hero part*/
#hero {
	background-image: url("images/hero16.jpg");
	height: 90vh;
	width: 100%;
	background-position: top 20% right0;
	padding: 0 80px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	color: white;
}

#feature {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #032633;
}

#feature .fe-box {
	width: 300px;
	text-align: center;
	padding: 25px 15px;
	box-shadow: 20px 20px 34px rgb(0, 0, 0.03);
	border: 2px solid #5f6260;
	border-radius: 4px;
	margin: 20px 0;
	background-color: #24383f;
}

#feature .fe-box:hover {
	box-shadow: 10px 10px 54px rgb(70, 62, 221, 0.1);
}

#feature .fe-box img {
	width: 100%;
	margin-bottom: 10px;
	image-resolution: 30px 20px;
}

#feature .fe-box h6 {
	padding: 9px 8px 6px 8px;
	line-height: 1;
	border-radius: 4px;
	color: #088178;
	background-color: #fddde4;
}

#product1 {
	text-align: center;
}

#product1 .pro-container {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	flex-wrap: wrap;
}

#product1 .pro {
	width: 23%;
	min-width: 250px;
	padding: 10px 12px;
	border: 1px solid #cce7d0;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 20px 20px 30px rgb(0, 0, 0.03);
	margin: 5px 0;
	transition: 0.2s ease;
	position: relative;
}

#product1 .pro:hover {
	box-shadow: 20px 20px 30px rgb(0, 0, 0.03);
}

#product1 .pro img {
	width: 100%;
	border-radius: 10px;
}

#product1 .pro .des {
	text-align: start;
	padding: 10px 0;
}

#product1 .pro .des span {
	color: #032633#606063;
	font-size: 12px;
}

#product1 .pro .des h5 {
	padding-top: 7px;
	color: #1a1a1a;
	font-size: 14px;
}

#product1 .pro .des i {
	font-size: 12px;
	color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
	padding-top: 7px;
	font-size: 15px;
	font-weight: 700;
	color: #088178;
}

#product1 .pro .cart {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50px;
	background-color: #e8f6ea;
	font-weight: 500;
	color: #088178;
	border: 3px solid #cce7d0;
	position: absolute;
	bottom: 20px;
	right: 10px;
}

/*shop page*/
#page-header{
	background-image: url("images/hero15.jpg");
	width: 100%;
	height: 50vh;
	background-size: cover;
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	padding: 14px;
}
#page-header h2,
#page-header p{
	color: white;
}